
<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<h3> Users </h3>
<% @users.each do |user|  %>
  <li> <%=user.first_name  %></li>
<% end %>


<table style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Games Played</th> 
    <th>Games Benched</th>
  </tr>
  <% @users.each do |user|  %>

  <tr>
    <td> <%= user.first_name %></td>
    <td> <%= user.season_played %></td> 
    <td> <%= user.season_benched %></td>
  </tr>
  <% end %>
</table>

<% if @user %>
  <% if @user.first_name == "Chad" %>
  <% count = 1 %>
  <% @nuggets[-6..-1].each do |nugget| %>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default">
      <div class="panel-body">
        <%= nugget.content %>
      </div>  
      <div class="panel-footer"><%= nugget.attributed_to %></div>

      </div>
    </div>
  </div>

  <% end  %>


  <% end  %>
<% end %>


